@model BookModel

<div class="container">
	<h3 class="display-4">Add New Book</h3>
	<form method="post">
		<div class="form-group">
			<label asp-for="Title">Title</label>
			<input asp-for="Title" class="form-control">
		</div>
		<div class="form-group">
			<label asp-for="Author">Author</label>
			<input asp-for="Author" class="form-control">
		</div>
		<div class="form-group">
			<label asp-for="Description">Description</label>
			<textarea asp-for="Description" class="form-control"></textarea>
		</div>
		<div class="form-group">
			<label asp-for="Category">Category</label>
			<input asp-for="Category" class="form-control">
		</div>
		<div class="form-group">
			<label asp-for="Total_Pages">Total Pages</label>
			<input asp-for="Total_Pages" class="form-control">
		</div>
		<div class="form-group">
			<label asp-for="Language">Language</label>
			<input asp-for="Language" class="form-control">
		</div>
		<div class="form-group">
			<input type="submit" value="AddBook" class="btn-primary btn">
		</div>
	</form>
</div>


